[submodule "sublime-text-3/JavaScriptNext.tmLanguage"]
	path = sublime-text-3/JavaScriptNext.tmLanguage
	url = https://github.com/Benvie/JavaScriptNext.tmLanguage.git
[submodule "sublime-text-3/GitGutter"]
	path = sublime-text-3/GitGutter
	url = https://github.com/jisaacks/GitGutter.git
[submodule "sublime-text-3/Sublime-Wrap-Plus"]
	path = sublime-text-3/Sublime-Wrap-Plus
	url = https://github.com/ehuss/Sublime-Wrap-Plus.git
[submodule "sublime-text-3/babel-sublime"]
	path = sublime-text-3/babel-sublime
	url = https://github.com/babel/babel-sublime.git
[submodule "sublime-text-3/MagicPython"]
	path = sublime-text-3/MagicPython
	url = https://github.com/MagicStack/MagicPython.git
[submodule "sublime-text-3/SublimeAllAutocomplete"]
	path = sublime-text-3/SublimeAllAutocomplete
	url = https://github.com/alienhard/SublimeAllAutocomplete.git
[submodule "sublime-text-3/sass-textmate-bundle"]
	path = sublime-text-3/sass-textmate-bundle
	url = https://github.com/nathos/sass-textmate-bundle.git
[submodule "sublime-text-3/sublime-iced-coffeescript"]
	path = sublime-text-3/sublime-iced-coffeescript
	url = https://github.com/icflorescu/sublime-iced-coffeescript.git
[submodule "sublime-text-3/daylerees-themes"]
	path = sublime-text-3/daylerees-themes
	url = https://github.com/daylerees/colour-schemes.git
[submodule "sublime-text-3/SublimeFunctionNameDisplay"]
	path = sublime-text-3/SublimeFunctionNameDisplay
	url = https://github.com/akrabat/SublimeFunctionNameDisplay
