[core]
    pager = less -SR

[user]
    email = michal@zapu.net
    name = Michał Zochniak

[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = white bold
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    listu = ls-files --other --exclude-standard
