[core]
    pager = less -SR

[user]
    email = michal@zapu.net
    name = Michał Zochniak

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = white bold
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    listu = ls-files --other --exclude-standard
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    commit-wip = commit -m "\"Work In Progress - dont forget to reset --soft\""
    soft-reset = reset --soft HEAD~1
    recommit = commit -c ORIG_HEAD
    diffs = diff --staged
    diff-filenames = !git --no-pager diff --name-only
    diffs-filenames = !git --no-pager diff --staged --name-only
    show-filenames = !git --no-pager show --name-only
    pups = pull upstream master
    pops = pull origin master
    curbr = rev-parse --abbrev-ref HEAD

[push]
    default = simple

[pager]
    branch = false
